.root {
  box-sizing: border-box;
  margin-bottom: 4rem;
  font-family: ABCSans;
}

@media (max-width: 40rem) {
  .root {
    margin-top: 2rem;
    border-top: 0.0625rem solid #ccc;
    border-bottom: 0.0625rem solid #ccc;
    padding: 1rem 0;
  }
}

@media (min-width: 40rem) {
  .root {
    border: 0.0625rem solid #ccc;
    padding: 0.5rem;
    background-color: #fff;
  }
}

@media (min-width: 80rem) {
  .root {
    padding: 1rem;
  }
}

.root * {
  box-sizing: inherit;
}

.root a {
  color: #0058cc;
  text-decoration: underline;
}

.root button {
  display: block;
  border: 0;
  padding: 0.5em 0.75em;
  background-color: #01cfff;
  font-size: inherit;
  cursor: pointer;
  transition: opacity 0.5s;
}

.root button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.root form {
  margin: 0;
}

.title {
  margin: 0;
  font-size: 1.125rem;
  font-weight: normal !important;
  text-align: center;
}

.titleItem {
  display: block;
  margin: 0.25rem 0.5rem 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 600 !important;
  letter-spacing: 0.25px;
}

@media (max-width: 40rem) {
  .titleItem.isLong {
    font-size: 1rem;
  }
}

.skip {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
  line-height: 2;
}

.skip > button {
  display: inline-block;
  margin-left: 0.5em;
}

.field {
  margin: 1rem 0;
}

.field > * {
  display: block;
  width: 100%;
}

.field > label {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.field > input[type='text'],
.field > textarea {
  border: 0.0625rem solid #ccc;
  padding: 0.25rem 0.5rem;
  font-family: ABCSans;
  font-size: 0.875rem;
}

.field > textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 4rem;
}

.field > .choices {
}

.field > .choices > label {
  font-size: 1rem;
}

.field > .choices > label:not(:first-child) {
  margin-left: 1rem;
}

.field > .choices > label > input {
  position: relative;
  top: -0.0625rem;
  margin-right: 0.25rem;
}

.submit {
  font-size: 1rem;
}

.submit > button {
  width: 100%;
}

.download {
  margin: 0.75rem 0 0;
  font-size: 0.75rem !important;
  text-align: right;
}
